form#form_partidos(action= url("/jornadas/actualizar_resultados") method="post")
    input(type="hidden" name="_token" value= csrf_token()) 
    input(type="hidden" name="id_jornada" value= jornada.id) 
    if count(jornada.partidos) === 0 
        h5.twelve.columns.center#empty_partidos No hay partidos registrados. 
        div#table_partidos
    else
        div#table_partidos
            each partido in jornada.partidos   
                input(type="hidden" name="id_partido[]" value= partido.id)
                input(type="hidden" name="id_resultado[]" value= partido.resultado.id)
                div.partido_editar.partido_mod.row
                    .row
                        div.three.columns 
                            div.row.twelve.columns.center
                                img.resultado-height(src= url('/storage/' + partido.equipoLocal.imagen))
                            h6.row.twelve.columns.center= partido.equipoLocal.nombre

                        .two.columns
                            .resultado-height
                                input.big-input.center.twelve.columns(type="text" name="resultado_local[]" value=partido.resultados.first().resultado_local)
                        .two.columns.center
                            .resultado-height
                                h1  -
                        .two.columns
                            .resultado-height
                                input.big-input.center.twelve.columns(type="text" name="resultado_visita[]" value=partido.resultados.first().resultado_visita)
                        div.three.columns 
                            div.row.twelve.columns.center
                                img.resultado-height(src= url('/storage/' + partido.equipoVisita.imagen))
                            h6.row.twelve.columns.center= partido.equipoVisita.nombre
    br
    br
    div.row
        button.three.columns.offset-by-nine.primary-color-background#enviar(type="submit") Guardar