div.dragscroll
    table.twelve.columns
        thead
            tr
                th
                th.center(style="min-width: 100px") Jugador
                each jornada in quiniela.liga.jornadas
                    th.center(style="min-width: 100px")= jornada.nombre
        tbody
            each participacion in quiniela.participacionesSurvivor
                tr 
                    td 
                        img(src=participacion.usuario.avatar height="50")
                    td.startd.hideextra(style="overflow-x: hidden;")= participacion.usuario.nombre  
                    each jornada in quiniela.liga.jornadas
                        - x = false;
                        if today.gt(jornada.fecha_inicio) || usuario.admin
                            each part in jornada.participacionesJornada
                                if part.id_participacion == participacion.id
                                    each pronostico in part.pronosticos
                                        - x = true;
                                        if pronostico.resultado && (pronostico.partido.resultado.id_equipo_ganador == pronostico.id_equipo_ganador || pronostico.partido.resultado.id_equipo_ganador[1] == "id_equipo_ganador")
                                            td.center.success-background
                                                img(src= pronostico.equipoGanador.imagen height="50")
                                        else if pronostico.partido.resultado[1] != "resultado" && pronostico.partido.resultado.id_equipo_ganador != pronostico.id_equipo_ganador
                                            td.center.error-background
                                                img(src= pronostico.equipoGanador.imagen height="50")
                                        else
                                            td.center
                                                img(src= pronostico.equipoGanador.imagen height="50")          
                            if !x
                                if jornada.registrada
                                    td.center.error-background
                                else
                                    td.center
                        else
                            if jornada.registrada
                                td.center.error-background
                            else
                                td.center
