extend /layouts/app

block title
    title Ligas

block scripts
    script(src=url('/js/ligas/index.js'))

block content
    br
    div.container.white-background
        ul.breadcrumb
            li 
                a(href=url('/')) Inicio 
            li
                a.active(href=url('/ligas/')) Ligas
        h1.center Ligas
        div.row
            input.four.columns#busqueda(type="search" name="busqueda" placeholder="Buscar...")
            button.three.columns.offset-by-five.primary-btn(onclick="location.href='"+ url('/ligas/nuevo') +"'") Nueva liga
        div.lista 
            if ligas.count == 0 
                br
                br
                br
                h5 No hay ligas disponibles
            include /ligas/lista



