if ligas[(3*i) + j]
    div.frame.four.columns(onclick="location.href='"+ url('/ligas/editar/') + "/" +ligas[(3*i) + j].id + "'" )
        div.row.one-line
            img(src=ligas[(3*i) + j].logo height="120")
            h5.white-color-text #{ligas[(3*i) + j].nombre} 
            