br
br
div.row

    if key % 2 == 0
        div.six.columns
            if participacion.quiniela.tipoQuiniela.nombre != "Survivor"
                include /ligas/items/s1
            else
                .ten.columns.offset-by-one
                    include /ligas/items/s1_survivor
        div.six.columns
            include /ligas/items/s2
    else
        div.six.columns
            include /ligas/items/s2
        div.six.columns
            if participacion.quiniela.tipoQuiniela.nombre != "Survivor"
                include /ligas/items/s1
            else
                .ten.columns.offset-by-one
                    include /ligas/items/s1_survivor

