br
br
div.row

    if key % 2 == 0
        div.six.columns
            include /ligas/items/s1
        div.six.columns
            include /ligas/items/s2
    else
        div.six.columns
            include /ligas/items/s2
        div.six.columns
            include /ligas/items/s1

