
body, html, .full-height {
    height: 100%
}

* {
    color:#47525E;
}

a {
    color:#47525E;
    text-decoration: underline;
}

label {
    font-weight: 400;
}

input[type="text"],  input[type="text"]:focus, input[type="search"],  input[type="search"]:focus,
input[type="email"],  input[type="email"]:focus, textarea,  textarea:focus,
input[type="number"],  input[type="number"]:focus, input[type="time"],  input[type="time"]:focus {
    border: 0;
    border-bottom: 1px solid #47525E;
    border-radius: 0;
    background-color: none !important;
    outline: 0;
}

input[type="text"]:focus, input[type="search"]:focus,  input[type="email"]:focus, input[type="number"]:focus,
input[type="time"]:focus   {
    border-bottom: 1px solid #bfdbf7;
}

input[type="time"], select {
    height:25px;
}

input.big-input {
    font-size:3em;
    height: 1.3em;
    background: none;
}

.banner {
    height:100px;
    overflow-y: hidden;
}

.banner_img {
    width:100%;
}

.banner_mask {
    background: rgba(0,0,0,0.2);
    z-index: 100;
    height:100px;
    top: 0;
    position: absolute;
    width: 100%;
}

.banner_title {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    font-style: bold;
}

.partido_editar {
    margin-bottom: 10px;
    padding:28px;
    position: relative;
    background: #fafafa;
    box-shadow: 2px 4px 2px -2px #47525E ;
    border-radius: 8px;
}

.pagination li {
    display:inline;
    font-size: 30px;
}

.center {
    text-align: center;
}


.primary-color-background {
    background: #47525E;
    color: white;
}

.primary-color-background:hover {
    background: #47525E;
    color: bfdbf7;
}

.accent-color-background {
    background: #022b3a;
    color: white;
}

.light-color-background {
    background: #bfdbf7;
    color: #022b3a;
}

.grey-color-background {
    background: #e1e5f2;
    color: #022b3a;
}

.primary-color-text {
    color: #47525E;
}

.accent-color-text {
    color: #022b3a;
}

.light-color-text {
    color: #bfdbf7;
}

.white-color-text {
    color: white;
}

.error {
    color: #F44A4A;
}

a.error {
    cursor:pointer;
}

.close {
    color: #F44A4A;
    cursor: pointer;
    text-decoration: underline;
}



.menu-container {
    padding-top: 2rem;
}

.menu-item {
    margin-top: 2rem;
}

.frame {
    padding: 2rem;
    cursor:pointer;
    background: #e1e5f2;
}

.frame:hover{
    background-color: #bfdbf7;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}




/*** Utilities **/
.one-line {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.small-space {
    height:50px;
}

.space {
    height:100px;
}

.margin-responsive {
    margin-bottom: 12px;
}

.success-background {
    background: #039050;
}

.warning-background {
    background: #e0b030;
}

.warning-block {
    width: 100%;
    background: #e0b030;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}

.resultado-height {
    height:170px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.resultado-height *{
}