
    form#form_contestar(action= url("/quinielas/contestarquiniela") method="post")
        input(type="hidden" name="_token" value= csrf_token()) 
        input(type="hidden" name="id_jornada" value= jornada.id) 
        if count(jornada.partidos) === 0 
            h5.twelve.columns.center#empty_partidos No hay partidos registrados. 
            div#table_partidos
        else
            div#table_partidos
                each partido, key in jornada.partidos   
                    if quiniela.permitir_marcador
                        include /quinielas/items/partido_permitir_marcador
        br
        br
        div.row
            button.three.columns.offset-by-nine.primary-color-background#enviar(type="submit") Guardar