extend /layouts/app

block title
    title Quinielas

block scripts
    script(src=url('/js/quinielas/index.js'))

block content
    br
    div.container.white-background
        ul.breadcrumb
            li 
                a(href=url('/')) Inicio
            li
                a.active(href=url('/quinielas/')) Quinielas
            
        h1.center Quinielas
        div.row
            input.four.columns#busqueda(type="search" name="busqueda" placeholder="Buscar...")
            button.three.columns.offset-by-five.primary-btn(onclick="location.href='"+ url('/quinielas/nuevo') +"'") Nueva quiniela
        div.lista 
            if quinielas.count == 0 
                br
                br
                br
                h5 No hay quinielas disponibles
            include /quinielas/lista



