if quinielas[(3*i) + j]
    div.frame.four.columns(onclick="location.href='"+ url('/quinielas/editar/') + "/" +quinielas[(3*i) + j].id + "'" )
        div.row.one-line
            img(src=quinielas[(3*i) + j].liga.logo height="120")
            h5.white-color-text #{quinielas[(3*i) + j].nombre} 
            span.white-color-text #{quinielas[(3*i) + j].tipoQuiniela.nombre}
            