h1 Tu participación de esta jornada ya ha sido registrada, en la parte de abajo puedes ver tus pronósticos.

include /participacion/tabla_participacion

button.six.columns.offset-by-three.primary-color-background(onclick="location.href='"+ url('/quinielas/info/' + quiniela.id)+"'")
    | Historial