extend /layouts/app

block title
    title Administrador

block content
    br
    .container.white-background

        
        br
        h1.center ¡Bienvenido #{usuario.nombre}!
        div.row.menu-container
            div.four.columns.menu-item.center
                div.row
                    img.center.value-img(src=(url('/img/user.png')) height="100")
                br
                div.row
                    button.ten.columns.offset-by-one.primary-btn(onclick="location.href='"+ url('/usuarios') +"'") Usuarios
                div.space
            div.four.columns.menu-item.center
                div.row
                    img.center.value-img(src=(url('/img/quiniela.png')) height="100")
                br
                div.row
                    button.ten.columns.offset-by-one.primary-btn(onclick="location.href='"+ url('/quinielas') +"'") Quinielas
                div.space
            div.four.columns.menu-item.center
                div.row
                    img.center.value-img(src=(url('/img/ligas.png')) height="100")
                br
                div.row
                    button.ten.columns.offset-by-one.primary-btn(onclick="location.href='"+ url('/ligas') +"'") Ligas
                div.space
        br
        
            