extend /layouts/app

block scripts
    script(src=url('/js/home/jugador.js'))

block title
    title Bienvenido

block content   
    each participacion,key in usuario.participacions
        section(style="background-image: url('"+participacion.quiniela.liga.imagen+"'); background-size: cover; background-position:center; ")
            if key % 2 == 0
                div.mask
                    include /ligas/seccion
            else
                div.mask2
                    include /ligas/seccion