extend /layouts/app

block title
    title Bienvenido

block content
    section.black-background
        div.row
            h4.six.columns PRONOSTICON
            h4.six.columns.right= usuario.nombre
    each participacion in usuario.participacions
        include /ligas/seccion