extends /layouts/app

block title
    title= "Reglas - " + quiniela.nombre
    
block content
   
    div.container.white-background
        include /quinielas/banner
        
        ul.breadcrumb
            li 
                a(href=url('/')) Inicio
            li
                a(href="#")= "Reglas - " + quiniela.nombre

        br
        div.row
            div.twelve.columns.center 
                if quiniela.reglas[1] != "reglas"
                    div !{quiniela.reglas}
                else 
                    div No se han actualizado las reglas.