html
    head
        block title
        link(href=(url('/css/libs/skeleton.css')) rel="stylesheet" type="text/css") 
        link(href=(url('/css/style.css')) rel="stylesheet" type="text/css") 
        link(href=(url('/css/libs/normalize.css')) rel="stylesheet" type="text/css")
        link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
 
    body
        block content