 section.black-background.bar
        div.row
            div.six.columns(style="height:50px")
                img.bar-logo(src=url('/img/logo.png') style="width: 400px; max-width:100%; max-height:100%")
            div.six.columns.right.bar-inner
                ul.bar-menu.black-background
                    li.bar-item
                        a.title.user-corner(href=url('/login/logout')) Salir
                    li.bar-item
                        //
                        a.title.user-corner(href=url('/usuarios/editar/' + usuario.id))
                            img(src= usuario.avatar, style="vertical-align:top; margin-right:5px; margin-top:-10px; display:inline-block" height="40")
                            span #{usuario.nombre}