 section.black-background.bar
        div.row
            div.nine.columns
                img(src=url('/img/logo.png') height="50")
            div.three.columns.right
                ul.bar-menu.bar.black-background
                    li.bar-item
                        a.title.user-corner(href=url('/login/logout')) Salir
                    li.bar-item
                        //
                        a.title.user-corner(href=url('/usuarios/editar/' + usuario.id))
                            img(src= usuario.avatar, style="vertical-align:middle; display:inline-block" height="24")
                            span #{usuario.nombre}