extend /layouts/app

block title
    title Usuarios

block scripts
    script(src=url('/js/usuarios/index.js'))

block content
    
    div.container
        h1.center Usuarios
        div.row
            input.four.columns#busqueda(type="search" name="busqueda" placeholder="Buscar...")
            button.three.columns.offset-by-five.primary-color-background(onclick="location.href='"+ url('/usuarios/nuevo') +"'") Nuevo usuario
        div.lista
            include /usuarios/lista



