if usuarios[(3*i) + j]
    div.frame.grey-color-background.four.columns(onclick="location.href='"+ url('/usuarios/editar/') + "/" +usuarios[(3*i) + j].id + "'")
        div.row.one-line
            span #{usuarios[(3*i) + j].codigo}
            h5
                span #{usuarios[(3*i) + j].nombre} 
            
            //span #{usuarios[(3*i) + j].email ? usuarios[(3*i) + j].email : '' }
            br
            span 
                each quiniela in usuarios[(3 * i) + j].quinielas
                    quiniela.nombre