extend /layouts/app

block title
    title Login

block content
    
    div.container
        div.row
            img.four.columns.offset-by-four(src=(url('/img/logo.png')))
        div.row
            h1.six.columns.offset-by-three.center Pronosticón
        div.row
            h6.six.columns.offset-by-three.center Introduzca su código de acceso
        div.row
            input.six.columns.offset-by-three(type="text" )
        br
        div.row
            button.six.columns.offset-by-three.primary-color-background#btn-ingresar Ingresar



