div.row
    div.six.columns.offset-by-three
        h5 Quinielas activas
        table
            tbody
                each participacion in usuario.participacions
                    tr
                        td
                            a(href= url('/quinielas/editar/' + participacion.quiniela.id))= participacion.quiniela.nombre